// app-styles/variables.less - makes writing and updating CSS much fasterby 
//     allowing you to set global colors, fonts, etc.
//--------------------------------------------------------------------------- */

// Colors - Must Win Colors Starter Kit - based on bootstrap so you can override :)
@white: #ffffff;
@white-off: #fcfcfc;

@gray-base: #3d3d3d;
@gray-darker: #4d4d4d;
@gray-dark: #5d5d5d;
@gray: #6d6d6d;
@gray-light: #8d8d8d;
@gray-lighter: #dfdfdf;

@brand-primary:         #2772CD;
@brand-success:         #5cb85c;
@brand-info:            #5bc0de;
@brand-warning:         #f0ad4e;
@brand-danger:          #D3443D;

// Typography

// Z-Indexes